# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.
# this might not be exhaustive, as this is still a WIP.
#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####
## mylar requirements
APScheduler~=3.6.3
CherryPy~=18.5.0
Mako~=1.1.1
Pillow~=7.0.0
beautifulsoup4~=4.8.2
cfscrape~=2.0.8
feedparser~=5.2.1
portend~=2.6
simplejson~=3.17.0
unrar~=0.3

## Unique to comictagger
configparser~=4.0.2
natsort==3.5.2
PyPDF2==1.24
PyQt5>=5.12.2
pyinstaller>=3.5
unrar-cffi==0.1.0a5
