[Unit]
Description=Systemd script to run Mylar3 as a service
After=network-online.target

[Service]
User=Username
Group=Groupname
ExecStart=<full path to python executable> <full path to Mylar.py> -v --daemon  --nolaunch --quiet
GuessMainPID=no
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
