include README.rst Makefile MANIFEST.in LICENSE dumprar.py
include doc/*.rst doc/*.awk doc/Makefile doc/conf.py doc/make.bat
include test/Makefile test/*.py test/*.sh
include test/files/*.rar test/files/*.r[0-9][0-9] test/files/*.exp test/files/*.sfx
include tox.ini .pylintrc .coveragerc .github/*/*.yml
